<div class="bg-gray-800">
    <div class="px-6 py-20 md:px-12 lg:px-20">
      <div class="text-center flex flex-col items-center gap-4">
        <div class="font-bold text-lg leading-tight">
          <i class="pi pi-discord !text-lg !leading-none">POWERED BY DISCORD</i>
        </div>
        <div
          class="text-surface-900 dark:text-surface-0 font-bold text-4xl leading-tight"
        >
          Join our community!
        </div>
        <div
          class="text-surface-700 dark:text-surface-100 text-xl leading-normal"
        >
          Weekly races, community events, friendly chats and more!
        </div>
        <p-button label="Join Now" icon="pi pi-discord" class="mt-4" />
      </div>
    </div>
  </div>