<div class="w-full">
  <p-table [value]="events" class="w-full" stripedRows>
    <ng-template pTemplate="header">
      <tr>
        <th>Event Name</th>
        <th>Sim</th>
        <th>Date</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-event>
      <tr>
        <td>{{ event.eventName }}</td>
        <td>{{ event.sim }}</td>
        <td>{{ event.date | date : "dd.MM.yyyy 'at' hh:mm a OOO" }} BST (UTC+1)</td>
        <td>
          <a
            href="https://discord.gg/vB5xpC4Jhk"
            target="_blank"
            severity="secondary"
            rel="noopener noreferrer"
            class="p-button secondary font-bold"
          >
            Sign up now!
          </a>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
