<div class="flex flex-col h-screen">
  <div class="z-50">
    <p-menubar [model]="items" breakpoint="1096px">
      <ng-template #start>
        <div class="flex items-center space-x-3">
          <img
            src="assets/logos/cropped-Syndicate_Logo_Clock.png"
            alt="Logo"
            class="h-16 w-16"
          />
          <span class="text-xl font-bold">Syndicate Motorsport</span>
        </div>
      </ng-template>
      <ng-template #item let-item>
        <ng-container *ngIf="item.route; else urlRef">
          <a 
            [routerLink]="item.route" 
            class="p-menubar-item-link"
          >
            <span
              [class]="item.icon"
            ></span>
            <span
              [routerLinkActiveOptions]="{ exact: true }"
              routerLinkActive="underline decoration-sky-500 underline-offset-4"
            >
              {{ item.label }}
            </span>
          </a>
        </ng-container>
        
        <ng-template #urlRef>
          <a
            *ngIf="item.url; else noLink"
            [href]="item.url"
            target="_blank"
            class="p-menubar-item-link"
          >
            <span [class]="item.icon"></span>
            <span>{{ item.label }}</span>
          </a>
        </ng-template>
        <ng-template #noLink>
          <div class="p-menubar-item-link">
            <span [class]="item.icon"></span>
            <span>{{ item.label }}</span>
          </div>
        </ng-template>
      </ng-template>
    </p-menubar>
  </div>
  <div class="grow"><router-outlet /></div>
  <div class="z-50"><sm-footer /></div>
</div>
