<div class="flex flex-col h-screen w-full">
  <p-toolbar>
    <ng-template #start>
      <div class="flex items-center space-x-3">
        <img src="assets/logos/cropped-Syndicate_Logo_Clock.png" alt="Logo" class="h-16 w-16" />
        <span class="text-xl font-bold">Syndicate Motorsport</span>
      </div>
    </ng-template>
    <ng-template #center>
      <nav class="flex space-x-6">
        <a href="#" class="text-gray-100 hover:text-blue-300">Events and Leagues</a>
        <a href="#" class="text-gray-100 hover:text-blue-300">Drivers</a>
        <a href="#" class="text-gray-100 hover:text-blue-300">Lap Records</a>
        <a href="#" class="text-gray-100 hover:text-blue-300">Media</a>
        <a href="#" class="text-gray-100 hover:text-blue-300">Patreon</a>
        <a href="#" class="text-gray-100 hover:text-blue-300">Merch</a>
      </nav>
    </ng-template>
    <ng-template #end>
      @if (isLoggedIn) {
        <div class="flex items-center space-x-4">
          <h1 class="text-2xl font-bold m-3">PirateLaserBeam</h1>
          <p-avatar label="P" size="xlarge" />
        </div>
      } @else {
        <p-button label="Login" class="p-button-primary"></p-button>
      }
    </ng-template>
  </p-toolbar>
  <div class="flex flex-1 relative overflow-hidden">
    <main class="flex-1 bg-gray-900 overflow-auto">
      <div>
        <router-outlet />
      </div>
    </main>
  </div>
</div>
