<div class="px-6 py-8 md:px-12 lg:px-20">
  <!-- League Cards Grid -->
  <div class="grid grid-cols-12 gap-4">
    <div
      *ngFor="let league of filteredLeagues"
      class="col-span-12 sm:col-span-6 md:col-span-4 lg:col-span-3"
    >
      <sm-league-card
        [title]="league.name"
        [sim]="league.sim"
        [freeSpots]="league.freeSpots"
        [rounds]="league.rounds.toString()"
        [startDate]="league.startDate"
        [endDate]="league.endDate"
        [image]="league.image"
        [link]="league.link"
      ></sm-league-card>
    </div>
  </div>
</div>
