<div
  class="landing-page bg-cover bg-center h-screen w-full"
  style="background-image: url('assets/backgrounds/Merc-190E.jpg')"
>
  <div class="flex flex-col items-center h-full gradient-background pt-[15%]">
    <!-- Main Heading -->
    <h1 class="text-7xl text-white text-center font-bold mb-4">
      Syndicate Motorsport
    </h1>
    <a
      href="https://angular.dev/"
      target="_blank"
      rel="noopener noreferrer"
      class="p-button rounded text-sm font-semibold hover:bg-blue-700 transition duration-300"
    >
      Join our Discord
    </a>
  </div>
</div>

<sm-event-table />
<sm-cta />
<div class="px-6 py-8 md:px-12 lg:px-20">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <sm-stat-field
        [text]="'Discord Members'"
        [stat]="discordMembers"
        [color]="'bg-blue-300'"
      />
    </div>
    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <sm-stat-field [text]="'Races held'" [stat]="312" [color]="'bg-red-400'" />
    </div>

    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <sm-stat-field [text]="'Sim games'" [stat]="3" [color]="'bg-green-500'" />
    </div>

    <div class="col-span-12 md:col-span-6 lg:col-span-3">
      <sm-stat-field
        [text]="'Years of experience'"
        [stat]=`${yearsOfExperience}+` 
        [color]="'bg-yellow-500'"
      />
    </div>
  </div>
</div>
